<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.develop.vic.quiz">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.QuizListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.QuizDetailActivity"
            android:label="@string/title_quiz_detail"
            android:parentActivityName=".ui.QuizListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.QuizListActivity" />
        </activity>
        <activity
            android:name=".ui.EditQuizActivity"
            android:label="@string/title_activity_edit_quiz"
            android:parentActivityName=".ui.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.develop.vic.quiz.ui.BaseActivity" />
        </activity>
        <activity
            android:name=".ui.FormActivity"
            android:label="@string/title_activity_form"
            android:parentActivityName=".ui.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.develop.vic.quiz.ui.BaseActivity" />
        </activity>
    </application>
</manifest>